.photo-grid {
	max-width: 1184px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 16px;
    margin: 92px auto;
    /* __ УБРАТЬ __ */
    background-color: grey;
}

.photo-grid__item {
	width: 100%;
}

@media (max-width: 1279px) {
	.photo-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 14px;
		/* __ УБРАТЬ __ */
		background-color: blue;
	}
}

@media (max-width: 1023px) {
	.photo-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 16px;
		/* __ УБРАТЬ __ */
		background-color: red;
	}
}

@media (max-width: 767px) {
	.photo-grid {
		grid-template-columns: auto;
		/* __ УБРАТЬ __ */
		background-color: darkgreen;
	}
}