@import url("../assets/fonts/fonts.css");
@import url("../blocks/header/header.css");
@import url("../blocks/banner/banner.css");
@import url("../blocks/intro/intro.css");

body {
	color: #FFFFFF;
	background-color: #2A2C2F;
	font-size: 18px;
	font-family: "Inter", sans-serif;
	/* background-color: green; */
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	background-color: brown;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
